@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

html {
  font-family: "Figtree", Arial, Helvetica, sans-serif;
}

.plus-jakarta {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
}

.inter {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@keyframes infinite-scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.infinite-scroll-right {
  animation: infinite-scroll-right 25s linear infinite;
}

@keyframes slide-up-fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up-fade-in {
  animation: slide-up-fade-in 1s ease forwards;
}
